# Dominio DDNS (ej: tudominio.duckdns.org)
DOMINIO=

# Puerto WireGuard (por defecto 51822)
WG_PORT=51822

# Credenciales del administrador
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Credenciales de la base de datos
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=vpndb
DB_HOST=mi-db
DB_PORT=5432

# Clave secreta JWT (minimo 32 caracteres aleatorios)
JWT_SECRET=
