# Variables de entorno
.env
*.env
# Claves de WireGuard generadas
*.key
*.pub
wg0.conf
wireguard/keys

# Dependencias de Node
node_modules/

# Logs
*.log

# Datos de PostgreSQL
postgres_data/

#Carpeta certbot
certbot/
nginx/

